html {
	margin: 0;
	padding: 0;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    color: #333;
    background-color: #fff;
}

.text-center {
	text-align: center;
}

.container {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#no-contacts-container {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

#no-contacts-title {
	font-size: 1.88rem;
	padding: 9px;
	margin-top: 30px;
	text-align: center;
}

#no-contacts-button {
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;
	color: #563d7c;
	background-color: transparent;
	border: 1px solid #563d7c;
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.33;
	border-radius: 4px;
}

#no-contacts-button:hover {
	background-color: #563d7c;
	color: #fff;
	cursor: pointer;
}

.navbar {
	min-height: 20px;
	padding: 19px;
	margin-bottom: 30px;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.button {
	color: #563d7c;
	background-color: transparent;
	border: 1px solid #563d7c;
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.33;
	border-radius: 4px;
}

.button:hover {
	background-color: #563d7c;
	color: #fff;
	cursor: pointer;
}

.search {
	width: 200px;
	height: 20px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857;
	color: #555;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

#contacts {
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
  animation-duration: 1.5s;
  animation-name: animate-fade;
  animation-fill-mode: backwards;
	transition: 1.5s;
}

.add-content-animation {
	overflow: hidden;
  animation-duration: 1.25s;
  animation-name: animate-fade-form;
  animation-fill-mode: backwards;
	transition: 1.25s;
}

@keyframes animate-fade {
  0% { 
		opacity: 0; 
		max-height: 0;
	}
  100% { 
		opacity: 1; 
		max-height: 3000px;
	}
}

@keyframes animate-fade-form {
  0% { 
		opacity: 0; 
		max-height: 0;
	}
  100% { 
		opacity: 1; 
		max-height: 1000px;
	}
}

.contact-wrapper {
	box-sizing: border-box;
	height: 240px;
	padding-bottom: 25px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 13px;
	border-bottom: 1px solid #eee;
}

.contact-name {
	font-size: 1.5rem;
}

.contact-btn {
	color: #563d7c;
	background-color: transparent;
	border: 1px solid #563d7c;
	padding: 6px 16px;
	line-height: 1.33;
	border-radius: 4px;
	margin-right: 20px;
	font-size: 0.9rem;
}

.contact-btn:hover {
	background-color: #563d7c;
	color: #fff;
	cursor: pointer;
}

dl {
	height: 130px;
}

dt {
	font-weight: 900;
}

.tag-link {
	color: darkred;
}

.tag-link:hover {
	cursor: pointer;
}

.icon {
	position: relative;
	height: 18px;
	top: 4px;
}

.hidden {
	display: none;
}

#form-wrapper {
	margin-top: 31px;
}

.form-title {
	font-size: 1.88rem;
	padding: 9px;
	margin-top: 30px;
	text-align: center;
}

form {
	width: 100%;
	border-top: 1px solid #eee;
	padding: 20px 0;
	display: grid;
	grid-template-columns: 2.3fr max-content 5.8fr 2.3fr;
	grid-template-rows: auto;
	grid-template-areas: 
		". label-a input-a ."
		". label-b input-b ."
		". label-c input-c ."
		". label-d input-d ."
		". . grid-btn-wrapper .";
}

.label-a, .label-b, .label-c, .label-d {
	text-align: end;
	margin-right: 30px;
	font-weight: 900;
	position: relative;
	top: 7px;
}

.label-a { grid-area: label-a; }
.label-b { grid-area: label-b; }
.label-c { grid-area: label-c; }
.label-d { grid-area: label-d; }
.input-a { grid-area: input-a; }
.input-b { grid-area: input-b; }
.input-c { grid-area: input-c; }
.input-d { grid-area: input-d; }
.grid-btn-wrapper { 
	grid-area: grid-btn-wrapper; 
	display: flex;
}

.form-input {
	height: 20px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	margin-bottom: 25px;
}

.submit-btn, .cancel-btn {
	width: 100%;
	text-align: center;
}

#btn-spacer {
	width: 60px;
}